{% extends 'home.html' %}
{% block content %}


<div class="container">
	<div class="row mx_auto">
		{% for i in movie %}
		
		<div class="col-9 col-sm-6 col-md-6 col-lg-4">
		
		<div class="card" style="width: 18rem;margin-top:10px;margin-bottom:10px;">
  			<a class="mov_link" style="color:white;" href="{% url 'movie:moviedetail' i.id %}">
  				<img class="card-img-top" style="height:300px;width:100%" src="{{i.image.url}}"></a>
  			<div class="card-body" style="height:110px">
    		<h5 class="card-title text-center">{{i.name}}</h5>
			</div>
    	</div>

    	</div>
	{% endfor %}
	</div>
</div>
		<div class="mx_auto">
		{% if movie.paginator.num_pages > 1 %}

		<hr>
		<div class="text-center paginator">
		{% for pg in movie.paginator.page_range %}
		<a href="?page={{pg}}" class="btn btn-light btn-sm {% if movie.number == pg %} active {% endif %}">
		{{pg}}
		</a>
		{% endfor %}
		</div>
		{% endif %}
	</div>
{% endblock %}