{% extends 'home.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<p>Username:</p>
		</div>
		<div class="col-sm-8">
			<p>{{user.username}}</p>
		</div>
		<div class="col-sm-4">
			<p>First name:</p>
		</div>
		<div class="col-sm-8">
			<p>{{user.first_name}}</p>
		</div>
		<div class="col-sm-4">
			<p>Last name:</p>
		</div>
		<div class="col-sm-8">
			<p>{{user.last_name}}</p>
		</div>
		<div class="col-sm-4">
			<p>Email:</p>
		</div>
		<div class="col-sm-8">
			<p>{{user.email}}</p>
		</div>
		<div class="col-sm-12">
			<a class="btn btn-success" href="{% url 'add:updateuser' user.id %}">Update User</a>
		</div>
	</div>
</div>
{% endblock %}